body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    max-width: 800px;
    margin: 20px auto 0;
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.form input {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #000;
    padding: 10px 0;
}

.form button {
    font-size: 16px;
    grid-column: 1/ 3;
    display: block;
    width: 100%;
    border: none;
    padding: 10px 0;
    background-color: #9ffba6;
}

.error-message {
    color: red;
}

.app {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 30vw;
    margin: 100px 20px;
}

.app h2 {
    color: #333;
}
 
.app .track {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
 
.app button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.app button.shake { 
    animation: shake 0.3s; 
}

.app button svg {
    fill: #ffffff;
    stroke: #b4241a;
    max-width: 20px;
    height: auto;
}
 
.app #favorites {
    margin-top: 20px;
}

.app .favorite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #f4f4f4;
    padding: 8px 10px;
    border: 2px solid #bad7fd;
    margin-bottom: 5px;
}
.app .favorite button {
    color: #000000;
    background-color: #bad7fd;
}

@keyframes shake {
    0%,100%{transform:translateX(0)}
    25%{transform:translateX(-5px)}
    50%{transform:translateX(5px)}
    75%{transform:translateX(-5px)}
}